h1 {
	font-size: 36px;
	font-family: Helvetica;
	font-weight: bold;
	color: #5074aa;
}

h2 {
	font-size: 24px;
	font-family: Helvetica;
	font-weight: bold;
	color: #5074aa;
}

.small-text {
	font-size: 12px;
	font-family: Helvetica;	
	margin: 3px;
	line-height: 25%;
}

.med-text {
	font-size: 16px;
	font-family: Helvetica;	
	margin: 3px;
}

.big-text {
	font-size: 24px;
	font-family: Helvetica;
}

.row {
	padding: 5px;
	border: solid lightblue 3px;
	width: 80vw;
}

.sentence {
	border: none;
}

.word-div {
	min-width: 50px;
	padding: 0 15px;
	text-align: center;
	display: inline-block;
	border-radius: 10px;
}

.word-div:hover, .sentence:hover {
	background-color: lightblue;
	font-weight: bold;
	cursor: pointer;
}

#message {
	font-size: 14px;
	font-family: Helvetica;	
	color: orange;
}

#wordbank {
	visibility: hidden;
}